<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" monitorInterval="30">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%threadName][%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} - %msg%n"/>
        </Console>

        <!-- Запись лога в несколько фалов (история) -->
        <!--                                  Основной файл лога.        Файлы истории лога -->
        <RollingFile name="logfile" fileName="./typography.log" filePattern="./typography-%i.log">

            <PatternLayout pattern="[%threadName][%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} - %msg%n"/>

            <!-- Политики создания файлов истории лога. -->
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB"/> <!-- Размер файла истории -->
            </Policies>

            <DefaultRolloverStrategy max="1"/> <!-- Кол-во файлов истории. 7 по умолчанию -->

        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Логи Tomcat'а и спонтанных ошибок -->
        <Root level="error" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logfile"/>
        </Root>

        <!-- Логи компонентов приложения
        <Logger name="org.apache.commons.beanutils" level="ERROR" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logfile"/>
        </Logger>-->

        <Logger name="consoleErr" level="ERROR" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logfile"/>
        </Logger>

        <Logger name="consoleOut" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logfile"/>
        </Logger>

        <Logger name="liquibase" level="ALL" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logfile"/>
        </Logger>

        <Logger name="com.zaxxer.hikari" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logfile"/>
        </Logger>

        <Logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logfile"/>
        </Logger>

        <Logger name="ru.CryptoPro" level="ALL" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logfile"/>
        </Logger>

        <Logger name="javax.net.ssl" level="ALL" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logfile"/>
        </Logger>

        <Logger name="ro.kalite" level="ALL" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logfile"/>
        </Logger>

    </Loggers>
</Configuration>